*
{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
.container
{
    width: 100%;
    margin-left: 61px;
    background-color: rgb(21,21,21);
}

.aside
{
    position: fixed;
    top:0;
    padding: 30px;
    left: 0;
    width: 270px;
    z-index: 10;
    height:100%;
    background-color: rgb(34,34,34);
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid red;
}
::before,::after
{
    box-sizing: border-box;
}
.maincontent
{
    position: fixed;
    left:270px;
    top:0;
    right: 0;
    z-index: 0;
    overflow-y: auto;
    height: 100%;
    background-color: rgb(21,21,21);
}
ul
{
    padding-top: 50px;
    list-style: none;
}
.aside .logo
{
    position: absolute;
    top:50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 15px;
    margin-top: 10px;
    
}
.aside .logo a
{
    font-weight: 700;
    padding: 10px 20px;
    letter-spacing: 2px;
    font-size: 30px;
}
.aside .logo a::before
{
    content: ' ';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid red;
    border-left:5px solid red;
    bottom: 0;
    left:0;
}
.aside .logo a::after
{
    content: ' ';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid red;
    border-right:5px solid red;
    top: 0;
    right:0;
}
.aside .list li
{
    padding: 10px;
    display: block;
}
.list a
{
    font-size: 1.5rem;
    font-weight: 600;
    color: aliceblue;
    
}
.list a:hover
{
    color: red;
}


.list .active
{
    color: red;
}
.list i
{
    margin-right: 15px;
}
.aside .navtoggler
{
    height: 40px;
    width: 45px;
    position:fixed;
    top:20px;
    left:350px;
    border: 1px solid red;
    border-radius: 5px;
    cursor: pointer;
    display: none;
    justify-content: center;
    align-items: center;
    background-color:ghostwhite;
    
}
.aside .navtoggler span
{
    height: 2px;
    width: 18px;
    background:red;
    display: inline-block;
    position: relative;
    
}
.aside .navtoggler span::before
{
    content: '';
    height: 2px;
    width: 18px;
    background-color: red;
    position: absolute;
    top: -6px;
    left: 0px;
}
.aside .navtoggler span::after 
{
    content: '';
    height: 2px;
    width: 18px;
    background-color: red;
    position: absolute;
    top:6px;
    left: 0px;
}

.row{
    display: flex;
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 50px;
    padding-left: 20px  ;
    padding-top: 15%;
}
.home
{
    min-height: 100vh;
}
.main-section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    transform: translateX(100%);
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    background: inherit; 
}

.main-section.active {
    transform: translateX(0);
}

.homeinfo {
    text-align: left;
    color: white;
    padding-top: 10px;
    flex: 0 0 60%;
    width: 60;
}

.homeinfo h3
{
    padding-bottom: 10px;
}
.homeimg img {
   
   flex: 0 0 60%;
   width: 60%;
   height: 100% ;
   padding: 10px;
   /* border: 2px solid red; */
   border-radius: 50px;
   box-shadow: 0 4px 8px red;
}
 
.hireme {
    background-color: red;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
}

.hireme:hover {
    background-color: #0056b3;
}

.Hello
{
    font-size: 2rem;
}

.Hello span
{
    font-family: 'Clicker Script', cursive;
    color: red;
}

.myproffesion
{
    font-size: 2.5rem;
}

.myproffesion span
{
    color: red;
}
.homeinfo p
{
    font-size: 20px;
    margin-bottom: 20px;
    padding-bottom: 30px;
}

.homeinfo .btn
{
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(231, 225, 225, 0.2);
}
.homeinfo .btn:hover
{
    background-color: #ff4d4d; 
    color: black;           
    transform: scale(1.05);
}

.section-title h2 {
    color: white; 
    font-size: 32px;
    margin: 20px 0;
    text-align: left;
}

#abt .section-title h2 {
    color: white;
    margin-top: 10px;
    padding: 10px;
    font-size: 28px;
    display: block;
    margin-left: -10px; 
}

#srv .section-title h2 {
    color: white;
    margin-top: -100px;
    padding: 20px;
    font-size: 28px;
    display: block;
    margin-left: -10px; 
    position: relative;
}

#srv .section-title h2::after {
    content: '';
    position: absolute;
    left: 20px;
    bottom: 18px;
    width: 50px;     
    height: 2.5px; 
    background-color: red;
    border-radius: 10px; 
}
#srv .section-title h2::before {
    content: '';
    position: absolute;
    left: 20px;
    bottom: 14px;
    width: 30px;     
    height: 2.2px; 
    background-color: red;
    border-radius: 10px; 
}

.aboutinfo
{
    color: white;
    font-size: 20px;
    padding: 10px 30px 30px 30px;
    margin: 0 30px;
    margin-left: 0;
    text-align: left;
}

#abt .row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding:  30px; 
}

#abt .section-title h2::after {
    content: '';
    position: absolute;
    left: 92px;
    top: 80px;
    width: 50px;     
    height: 2.5px; 
    background-color: red;
    border-radius: 10px; 
}

#abt .section-title h2::before {
    content: '';
    position: absolute;
    left: 92px;
    top: 85px;
    width: 30px;     
    height: 2.2px; 
    background-color: red;
    border-radius: 10px; 
}

.list .underline
{
    position: relative;
    display: inline-block;
}


.list .underline::after {
    content: '';
    position: absolute;
    left: 2px;
    bottom: 1px;
    width: 95%;
    height: 2px;
    background-color:#444;
    border-radius: 10px; 
    z-index: 1;
}

.person
{
    display: flex;
    align-items: center;
    justify-content:start;
    flex-direction: row;
    padding: 20px;
    width: 100%;
}

.personalinfo
{
    padding:25px;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
    color: white;
    font-size: 18px;
    width: 60%
}

.personalinfo .info
{
    padding-bottom:20px ;
    position: relative;
    display: inline-block
}

.info a
{
    color: gray;
    font-weight: 600;
    text-decoration: none;
}
.personalinfo .info::after
{
    content: '';
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 80%;
    height: 2px;
    background-color:#444;
    border-radius: 10px;
}

.personalinfo .info span
{
    font-weight: 600;
    color:gray
}

.aboutbutton button
{
    background-color: red;
    color: white;
    padding: 10px 20px;
    margin-left: 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(231, 225, 225, 0.2);
}

.aboutbutton button:hover
{
background-color: #ff4d4d; 
color: black;           
transform: scale(1.05); 
}

.aboutbutton a
{
    text-decoration: none;
    color: white;
}

.aboutbutton a:hover
{
    color: black;
}



.timeline 
{
    color: white;
    margin-left: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    margin-left: 40px;
    padding-left: 40px;
    border-left: 4px solid red;
    border-radius: 15px;
    background-color: rgb(34,34,34);
    

}
.timeline .academicinfo
{
    position: relative;
    padding: 20px 0;
    padding-right: 10px;
    
}

.timeline .academicinfo::before
{
    content: '';
    position: absolute;
    top: 25px;
    left: -50px;
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0 0 0 2px red;

}
.academics h4
{
    font-size: 20px;
    margin-bottom: 10px;
}

.academics h5
{
    font-size: 18px;
    margin-bottom: 5px;
}

.academics p
{
    font-size: 16px;
    margin-bottom: 5px;
}

.serviceinfo
{
    color: white;
    margin-left:-170px;
    padding: 40px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    max-width: 900px;
    margin-right: 50px;
    gap: 30px;
    margin-bottom: 50px;

    text-align: center;
}

.serviceinfo .service
{
    background-color: rgb(34,34,34);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.service .icon
{
    font-size: 40px;
    color: red;
    margin-bottom: 10px;
    align-items: center;
    border-radius: 50%;
    padding: 10px; 
}

.service
{
    cursor: pointer;
}

.service:hover .icon {
    background-color: red;
    color: white;
    transition: all 0.3s ease;
}

.service h3
{
    font-size: 20px;
    margin-bottom: 10px;
}


#prt .section-title h2 {
    color: white;
    margin-top: -200px;
    padding: 20px;
    font-size: 28px;
    display: block;
    margin-left: -10px; 
    position: relative;
}
#prt .section-title h2::after {
    content: '';
    position: absolute;
    left: 20px;
    bottom: 18px;
    width: 50px;     
    height: 2.5px; 
    background-color: red;
    border-radius: 10px; 
}
#prt .section-title h2::before {
    content: '';
    position: absolute;
    left: 20px;
    bottom: 14px;
    width: 30px;     
    height: 2.2px; 
    background-color: red;
    border-radius: 10px; 
}

.portfolioinfo
{
    color: white;
    margin-left:-170px;
    font-size: 20px;
    margin-top: -120px;
}

#cnt .section-title h2 {
    color: white;
    margin-top: -200px;
    padding: 20px;
    font-size: 28px;
    display: block;
    margin-left: -10px; 
    position: relative;
}
#cnt .section-title h2::after {
    content: '';
    position: absolute;
    left: 20px;
    bottom: 18px;
    width: 50px;     
    height: 2.5px; 
    background-color: red;
    border-radius: 10px; 
}
#cnt .section-title h2::before {
    content: '';
    position: absolute;
    left: 20px;
    bottom: 14px;
    width: 30px;     
    height: 2.2px; 
    background-color: red;
    border-radius: 10px; 
}

#cnt .contacting
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-left: -280px;
    gap: 20px;
    width: 100%;
}

.cntinfo .one
{
    color: red;
    text-align: center;
    font-size: 30px;
    margin-top: -100px;
    font-weight: 600;
    font-family: 'Clicker Script', cursive;
}

.cntinfo .two
{
    color: white;
    font-size: 20px;
    width: 500px;
    padding-top: 10px;
    text-align: center;
    font-family: 'Clicker Script', cursive;

}

.contactinfo
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 150px;
    padding: 20px;
    color: white;
    font-size: 20px;
    margin-left: 20px;
}

.contactinfo .contacts
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.contacts .icon
{
    font-size: 30px;
    color: red;
    margin-bottom: 10px;
}

.contacts a
{
    color: white;
}

.contactform
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding: 20px;
    width: 1000px;
}

.contactform input
{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    background-color: rgb(34,34,34);
    color: white;
    
}

.emailme h3
{
    color: red;
    font-size: 30px;
    margin-top: 100px;
    margin-bottom: 20px;
    font-weight: 600;
    text-align: center;
    padding: 20px;
    font-family: 'Clicker Script', cursive;
}

.contactform textarea
{
    width: 100%;
    grid-column: span 2;
    padding: 10px;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: rgb(34,34,34);
    font-size: 16px;
    color: white;
}

.contactform button
{
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(231, 225, 225, 0.2);
    grid-column: span 2;
    justify-self: center;
}

.contactform button:hover
{
    background-color: #ff4d4d; 
    color: black;           
    transform: scale(1.05); 
}
